@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebUI.Domain.Model.CreateCustomerViewModel;

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Create a Customer Form</h1>
    <form asp-action="CustomerForm" method="post">
        <div>
            <label>First Name:</label>
            <input type="text" asp-for="FirstName" />
        </div>
        <div>
            <label>Last Name:</label>
            <input type="text" asp-for="LastName" />
        </div>
        <div>
            <label>Email</label>
            <input type="email" asp-for="Email" />
        </div>
        <div>
            <label>Gender</label>
            <select asp-for="Gender">
                <option value="">Choose an option</option>
                <option value=0>Male</option>
                <option value=1>Female</option>
                <option value=2>Prefer not to say</option>
            </select>
        </div>
        <div>
            <label>Date of Birth</label>
            <input type="date" asp-for="Birthday" />
        </div>
        <div>
            <label>Nationality</label>
            <input type="text" asp-for="Country" />
        </div>
        <div>
            <label>Admin name</label>
            <input type="text" asp-for="CreatedBy" />
        </div>
        <div>
            <label>Select Account</label>
            <select asp-for="AccountType">
                <option value="">Choose an option</option>
                <option value=1>Savings</option>
                <option value=2>Student</option>
            </select>
        </div>
        <div>
            <label>Balance</label>
            <input type="number" asp-for="Balance" />
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
