@{ ViewData["Title"] = "Index"; }

<body>
    <div>
        <div class="row">
            <div class="col">
                <img src="~/images/Fintech-image.png" class="" alt="ShEx" />
            </div>
            <div class="col">
                <h1>Dont Get It twisted! <br />Credits to Team ShEx is an Acronym for (Sh)ola and Al(Ex); for the design</h1>
            </div>
        </div>
    </div>

</body>
