@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome To Our Online Banking Platform</h1>
    <p>Click <a asp-action="CustomerForm">here</a> to add a Customer</p>

</body>
</html>