

<main>
    <center>
        <h1 style="background-color:#2733a1;">
            @TempData["WelcomeMsg"]
        </h1>
    </center>

    @if (signInManager.IsSignedIn(User) && User.IsInRole("GrandMaster"))
    {
        <div>
            <div>
                <p>
                    <a asp-controller="Admin" asp-action="ManageRoles">Manage Roles</a>
                </p>
            </div>
        </div>
    }

    <div>
        <p>
            <a asp-controller="Admin" asp-action="RegisterUser">Register new User</a>
        </p>
    </div>

    <div>
        <p>
            <a asp-controller="Admin" asp-action="RegisterCustomer">Register new Customer</a>
        </p>
    </div>

    <div>
        <p>
            <a asp-controller="Admin" asp-action="">Delete/Deactivate User</a>
        </p>
    </div>

</main>



